USE [BUBUBIBI]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_SUM_OF_TIME_NEEDED_TO_COMPLETE_ALL_ORDERS_PER_DEPARTMENT]    Script Date: 21.06.2023 16:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[GET_SUM_OF_TIME_NEEDED_TO_COMPLETE_ALL_ORDERS_PER_DEPARTMENT]
(	
	@id_department int
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT SUM(O.TIME_TO_COMPLETE_ORDER_MINS)SumOfTimeToCompleteOrders FROM [dbo].[ORDER]O
	WHERE O.ID_DEPARTMENT = @id_department
)
