USE [BUBUBIBI]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_ID_DEPARTMENT_OF_MOST_MALFUNCTIONS]    Script Date: 21.06.2023 16:55:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[GET_ID_DEPARTMENT_OF_MOST_MALFUNCTIONS] 
(	
	@lower_time_limit datetime,
	@higher_time_limit datetime
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT TOP 1 P.ID_DEPARTMENT, COUNT(*)NUMBER_OF_MALFUNCTIONS_IN_ASKED_TIME FROM [dbo].[PRINTER]P
	LEFT JOIN [dbo].[MALFUNCTION]M ON M.ID_PRINTER = P.ID_PRINTER
	WHERE M.START_DATE BETWEEN @lower_time_limit AND @higher_time_limit
	GROUP BY P.ID_DEPARTMENT ORDER BY NUMBER_OF_MALFUNCTIONS_IN_ASKED_TIME DESC
)
