USE [BUBUBIBI]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_LONGEST_MALFUNCTION_TIME_DEPARTMENT]    Script Date: 21.06.2023 16:56:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[GET_LONGEST_MALFUNCTION_TIME_DEPARTMENT]
(	
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT TOP 1 D.ID_DEPARTMENT, (SELECT [dbo].[GET_MALFUNCTION_TIME_FOR_DEPARTMENT](D.ID_DEPARTMENT))MALFUNCTION_TIME
	FROM [dbo].[DEPARTMENT]D
	ORDER BY MALFUNCTION_TIME DESC
)
