USE [BUBUBIBI]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_NUMBER_OF_ALL_PRINTERS_WORKING_AT_THE_TIME]    Script Date: 21.06.2023 17:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[GET_NUMBER_OF_ALL_PRINTERS_WORKING_AT_THE_TIME] 
(
	@declared_time datetime
)
RETURNS int
AS
BEGIN
	DECLARE @number_of_printers int
	SELECT @number_of_printers = [dbo].[GET_NUMBER_OF_ALL_PRINTERS]() - COUNT(CASE WHEN ID_DICT_PRINTER_STATUS IN (1, 2, 3, 4, 5) THEN 1 END)
	FROM (
		SELECT M.ID_PRINTER, M.START_DATE, PS.END_DATE, PS.ID_DICT_PRINTER_STATUS,
			   ROW_NUMBER() OVER (PARTITION BY M.ID_PRINTER ORDER BY ABS(DATEDIFF(minute, PS.END_DATE, @declared_time))) AS RowNumber
		FROM [dbo].[MALFUNCTION] M
		RIGHT JOIN [dbo].[PRINTER_STATUS] PS ON PS.ID_MALFUNCTION = M.ID_MALFUNCTION
		WHERE @declared_time BETWEEN M.START_DATE AND PS.END_DATE
	) AS LimitedTable
	WHERE @declared_time BETWEEN START_DATE AND END_DATE AND RowNumber = 1
	RETURN @number_of_printers
END