USE [BUBUBIBI]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_MALFUNCTION_TIME_FOR_DEPARTMENT]    Script Date: 21.06.2023 17:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[GET_MALFUNCTION_TIME_FOR_DEPARTMENT]
(
	@id_department int
)
RETURNS int
AS
BEGIN
	DECLARE @malfunction_time int = 0
	SELECT @malfunction_time += DATEDIFF(mi, M.START_DATE, (SELECT PS.END_DATE FROM [dbo].[PRINTER_STATUS]PS WHERE PS.ID_MALFUNCTION = M.ID_MALFUNCTION AND PS.ID_DICT_PRINTER_STATUS = 5))
	FROM [dbo].[MALFUNCTION]M
	JOIN [dbo].[PRINTER]P ON P.ID_PRINTER = M.ID_PRINTER
	WHERE P.ID_DEPARTMENT = @id_department

	RETURN @malfunction_time
END
