USE [BUBUBIBI]
GO
/****** Object:  UserDefinedFunction [dbo].[INDICATE_NUMBER_OF_SHIFTS_PRINTER_DID_NOT_WORK_ON]    Script Date: 21.06.2023 17:04:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[INDICATE_NUMBER_OF_SHIFTS_PRINTER_DID_NOT_WORK_ON]
(
	@id_printer int
)
RETURNS int
AS
BEGIN
	DECLARE @result int = 0
	DECLARE @lines_counter int
	DECLARE @i int = 0
	SELECT @lines_counter = COUNT(*) FROM [dbo].[GET_START_END_DATE_MALFUNCTION](@id_printer)
	WHILE @i < @lines_counter
	BEGIN
		SELECT @result += [dbo].[RETURN_NUMBER_OF_SHIFTS]((SELECT TOP 1 START_DATE FROM [dbo].[GET_START_END_DATE_MALFUNCTION](@id_printer)), (SELECT TOP 1 END_DATE FROM[dbo].[GET_START_END_DATE_MALFUNCTION](@id_printer)))
		SELECT @result += [dbo].[RETURN_NUMBER_OF_SHIFTS]((SELECT TOP 1 START_DATE FROM [dbo].[GET_START_END_DATE_MALFUNCTION](@id_printer)ORDER BY START_DATE DESC), (SELECT TOP 1 END_DATE FROM[dbo].[GET_START_END_DATE_MALFUNCTION](@id_printer)ORDER BY END_DATE DESC))
		SET @i += 1
		break
		END
	RETURN @result
END